/* Template: Mixer
   Author: Creado por Infiniem Acústica
   Description: Components mixer CSS file 
*/

/*****************************************
Table Of Contents:

- slider_pink
- slider_white
- slider_narrow 
- slider_tonegen
- slider_rain
- slider_heavyRain

- control
- lightbox timer
******************************************/


/*********************/
/*   slider_pink     */
/*********************/

.slider_pink {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
}

.slider_pink .label_pink {
    background-color: transparent;
    text-align:center;
    width: 15%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left:2.5%;
    margin-right:2.5%;
    user-select: text;
}

.slider_pink .input_range_pink {
    background-color: transparent;
    text-align: center;
    width: 55%;
}

.slider_pink .value_pink {
    background-color: transparent;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    user-select: text;
    
}

.slider_pink .infinity_pink {
	position: relative;
    width: 10%;
	height: 12%;
  }

.slider_pink .value_pink_dbfs {
    background-color: transparent;
    position:relative;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#292430;
    user-select: text;
  }
/*
This is for a future button of mute
.slider_pink .switch_pink {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
}*/

/*********************/
/*   slider_white    */
/*********************/

.slider_white {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
}

.slider_white .label_white {
    background-color: transparent;
    text-align:center;
    width: 15%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left:2.5%;
    margin-right:2.5%;
    user-select: text;
}

.slider_white .input_range_white {
    background-color: transparent;
    text-align: center;
    width: 55%;
    
}

.slider_white .value_white {
    background-color: transparent;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    user-select: text;
}

.slider_white .infinity_white {
	position: relative;
    width: 10%;
    height: 12%;
  }

.slider_white .value_white_dbfs {
  background-color: transparent;
  position:relative;
  text-align: center;
  width: 8%;
  font: 600 1rem/1rem 'Jost', sans-serif;
  font-size: 85%;
  color:#292430;
  user-select: text;



}
/*
This is for a future button of mute
.slider_white .switch_white {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
}*/

/*********************/
/*   slider_narrow   */
/*********************/

/* Everything about the Narrow */
.slider_narrow {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    margin-left: 4%;
    align-items: center;
}


/*
Text or future icon of narrow
*/
.slider_narrow .label_narrow {
    background-color: transparent;
    text-align:center;
    width: 15%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left:2.5%;
    margin-right:2.5%;
    user-select: text;
}


/*
Narrow slider
*/
.slider_narrow .input_range_narrow {
    background-color: transparent;
    text-align: center;
    width: 55%;
}

.slider_narrow .value_narrow {
    background-color: transparent;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    user-select: text;
}

.slider_narrow .infinity_narrow {
	position: relative;
    width: 10%;
	height: 12%;
    user-select: text;

  }

.slider_narrow .value_narrow_dbfs {
    background-color: transparent;
    position:relative;
    text-align: center;
    width: 8%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#292430;
    user-select: text; 
  
  
  }

/*
This is for a future button of mute
.slider_narrow .switch_narrow {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
    margin-top: 15%;

}*/

.button_narrow1 {
    /*
    Primera fila de botones
    */
    background-color: transparent;
    height: 20px;
    width: 100%;
    display: flex;
    margin-left: 9%;
    margin-bottom: 5%;
    align-items: center;
}



.button_narrow1 .button_narrow250 {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    margin-left: 2%;
    padding: 7px;
}


.button_narrow1 .button_narrow500 {
    /*
    Este es el predefinido, por eso se cambia el color del texto y del fondo
    con respecto al resto
    */
    background-color: #1d0b38;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#d38157;
    margin-left: 2%;
    cursor: pointer;
    border: #d38157;
    border-radius: 12px;
    padding: 7px;
}

.button_narrow1 .button_narrow1k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    padding: 7px;
}


.button_narrow1 .button_narrow2k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}


.button_narrow2 {
    /*
    Segunda fila de botones
    */
    background-color: transparent;
    height: 20px;
    width: 100%;
    display: flex;
    margin-left: 9%;
    margin-bottom: 5%;
    align-items: center;
}


.button_narrow2 .button_narrow3k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    padding: 7px;
}

.button_narrow2 .button_narrow4k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}

.button_narrow2 .button_narrow6k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}

.button_narrow2 .button_narrow8k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}

.button_narrow3 {
    /*
    Tercera fila de botones
    */
    background-color: transparent;
    height: 20px;
    width: 100%;
    display: flex;
    margin-left: 9%;
    margin-bottom: 5%;
    align-items: center;
}

.button_narrow3 .button_narrow10k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 24%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}

.button_narrow3 .button_narrow12k {
    background-color: #d38157;
    text-align: center;
    width: 20%;
    font: 500 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}

/*********************/
/*  slider_tonegen   */
/*********************/

.slider_tonegen {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    margin-left: 4%;
    margin-top: 1%;
    align-items: center;
}


.slider_tonegen .icon_tonegen {
    background-color: transparent;
    text-align:center;
    width: 20%;
    height: 60%;
    color:#1d0b38;
}

.slider_tonegen .input_range_tonegen {
    background-color: transparent;
    text-align: center;
    width: 55%;
}

.slider_tonegen .value_tonegen {
    background-color: transparent;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    user-select: text;
}


.slider_tonegen .infinity_tonegen {
	position: relative;
    width: 10%;
	height: 12%;

  }

.slider_tonegen .value_tonegen_dbfs {
  background-color: transparent;
  position: relative;
  text-align: center;
  width: 8%;
  font: 600 1rem/1rem 'Jost', sans-serif;
  font-size: 85%;
  color:#292430;
  user-select: text;
}
.slider_tonegen_freq {
    background-color: transparent;
    height: 30px;
    width: 95%;
    display: flex;
    margin-bottom: 4%;
    align-items: center;
    margin-left: 30%;

}


.slider_tonegen_freq .freq_input_range_tonegen {
    background-color: transparent;
    text-align: center;
    width: 30%;
}

@media (min-width: 992px) {
    .slider_tonegen_freq .value_tonegen_freq {
        /* 
        Properties fo the value of frecuency
        */
        background-color: transparent;
        text-align: center;
        width: 15%;
        font: 600 1rem/1rem 'Jost', sans-serif;
        font-size: 85%;
        color:#1d0b38;
        user-select: text;
    }
    .slider_tonegen_freq .value_tonegen_freq_Hz {
        /* 
        Properties fo the "Hz"" label of frecuency
        */
        background-color: transparent;
        text-align: center;
        width: 15%;
        font: 600 1rem/1rem 'Jost', sans-serif;
        font-size: 85%;
        color:#1d0b38;
        margin-left:-5%;

        
    }

}


@media (max-width: 992px) {
    .slider_tonegen_freq .value_tonegen_freq {
        /* 
        Properties fo the value of frecuency
        */
        background-color: transparent;
        text-align: center;
        width: 15%;
        font: 500 1rem/1rem 'Jost', sans-serif;
        font-size: 75%;
        color:#1d0b38;
        margin-left: 4%;
        user-select: text;
    }
    .slider_tonegen_freq .value_tonegen_freq_Hz {
        /* 
        Properties fo the "Hz"" label of frecuency
        */
        background-color: transparent;
        text-align: center;
        width: 15%;
        font: 500 1rem/1rem 'Jost', sans-serif;
        font-size: 75%;
        color:#1d0b38;
        margin-left:4%;
        user-select: text;
    }

}


.slider_tonegen_freq .value_tonegen_freq {
    /* 
    Properties fo the value of frecuency
    */
    background-color: transparent;
    text-align: center;
    width: 15%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 5%;
    user-select: text;
}
.slider_tonegen_freq .value_tonegen_freq_Hz {
    /* 
    Properties fo the "Hz"" label of frecuency
    */
    background-color: transparent;
    text-align: center;
    width: 15%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-right: 2%;
    user-select: text;
    
}

/*
This is for a future button of mute
.slider_tonegen .switch_tonegen {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
    margin-top: 12%;
}*/


/*********************/
/*   slider_rain     */
/*********************/

.slider_rain {
    background-color: transparent;
    height: 80px;
    width: 100%;
    margin-left: 4%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.slider_rain .icon_rain {
    background-color: transparent;
    text-align:center;
    width: 20%;
    height: 60%;
}

.slider_rain .input_range_rain {
    background-color: transparent;
    text-align: center;
    width: 55%;
}

.slider_rain .value_rain {
    background-color: transparent;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    user-select: text;
}

.slider_rain .infinity_rain {
	position: relative;
    width: 10%;
	height: 12%;
}

.slider_rain .value_rain_dbfs {
  background-color: transparent;
  position:relative;
  text-align: center;
  width: 8%;
  font: 600 1rem/1rem 'Jost', sans-serif;
  font-size: 85%;
  color:#292430;
  user-select: text;
}



/*
This is for a future button of mute
.slider_rain .switch_rain {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
}*/


/* This is for a future button of mute
.slider_rain .switch_rain {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
}*/

/*********************/
/* slider_heavyRain  */
/*********************/

.slider_heavyRain {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    margin-left: 4%;
    margin-top: 1%;
    align-items: center;

}

.slider_heavyRain .icon_heavyRain {
    background-color: transparent;
    text-align: center;
    width: 20%;
    height: 60%;

}

.slider_heavyRain .input_range_heavyRain {
    background-color: transparent;
    text-align: center;
    width: 55%;
}

.slider_heavyRain .value_heavyRain {
    background-color: transparent;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    user-select: text;
}

.slider_heavyRain .infinity_heavyRain {
	position: relative;
    width: 10%;
	height: 12%;

  }

.slider_heavyRain .value_heavyRain_dbfs {
  background-color: transparent;
  position:relative;
  text-align: center;
  width: 8%;
  font: 600 1rem/1rem 'Jost', sans-serif;
  font-size: 85%;
  color:#292430;
  user-select: text;
}
/*
.slider_heavyRain .switch_heavyRain {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
} */

/*********************/
/*   slider_water    */
/*********************/

.slider_water {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    margin-left: 4%;
    margin-top: 1%;
    align-items: center;
    
}


.slider_water .icon_Water {
    background-color: transparent;
    text-align:center;
    width: 20%;
    height: 60%;
}

.slider_water .input_range_water {
    background-color: transparent;
    text-align: center;
    width: 55%;

}

.slider_water .value_water {
    background-color: transparent;
    text-align: center;
    width: 10%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    user-select: text;
}

.slider_water .infinity_water {
	position: relative;
    width: 10%;
	height: 12%;
  }

.slider_water .value_water_dbfs {
  background-color: transparent;
  position:relative;
  text-align: center;
  width: 8%;
  font: 600 1rem/1rem 'Jost', sans-serif;
  font-size: 85%;
  color:#292430;
  user-select: text;

}
/*
This is for a future button of mute
.slider_water .switch_water {
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 20%;
}*/


/*********************/
/*       control     */
/*********************/

.control {
    background-color: transparent;
    height: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 5%;
    align-items: center;
}

.control .prueba{
    background-color: #d38157;
    text-align: center;
    width: 30%;
    height: 100%;
    font: 600 1rem/1rem 'Jost', sans-serif;
    font-size: 90%;
    color:#1d0b38;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    margin-left: 15%;
    padding: 7px;
    margin-right: 5%;
}


.control .pause{
    /* Properties of pause */
    position: relative;
    width: 80%;
	height: 80%;
 
}
.label_timer{
    display:block;
}
@media (min-width: 992px) {
    /* For PC*/
    .control .terapia{
        background-color: #d38157;
        text-align: center;
        width: 100%;
        height: 100%;
        font: 600 1rem/1rem 'Jost', sans-serif;
        font-size: 90%;
        color:#1d0b38;
        cursor: pointer;
        border: #1d0b38;
        border-radius: 12px;

        padding: 17px;
    }
}


@media (min-width: 250px) {
    /* For Mobile*/
    .control .terapia{
        background-color: #d38157;
        text-align: center;
        width: 80%;
        height: 80%;
        font: 600 1rem/1rem 'Jost', sans-serif;
        font-size: 90%;
        color:#1d0b38;
        cursor: pointer;
        border: #1d0b38;
        border-radius: 12px;

        padding: 10px;
    }
}
@media (min-width: 400px) {
    /* For Mobile*/
    .control .terapia{
        background-color: #d38157;
        text-align: center;
        width: 100%;
        height: 80%;
        font: 600 1rem/1rem 'Jost', sans-serif;
        font-size: 90%;
        color:#1d0b38;
        cursor: pointer;
        border: #1d0b38;
        border-radius: 12px;

        padding: 17px;
    }
}

.button_timer1{
    /*
    First row buttons
    */
    background-color: transparent;
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    align-items: center;
}



.button_timer1 .button_timer10 {
    background-color: #d38157;
    text-align: center;
    width: 25%;
    font: 400 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    margin-left: 2%;
    padding: 7px;
}

.button_timer1 .button_timer20 {
    /*
    Este es el predefinido, por eso se cambia el color del texto y del fondo
    con respecto al resto
    */
    background-color: #d38157;
    text-align: center;
    width: 25%;
    font: 400 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    padding: 7px;
}

.button_timer1 .button_timer30 {
    background-color: #d38157;
    text-align: center;
    width: 25%;
    font: 400 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    padding: 7px;
}

.button_timer2 {
    /*
    Second row buttons
    */
    background-color: transparent;
    height: 30px;
    width: 100%;
    margin-left: 13%;
    display: flex;
    margin-bottom: 5%;
    align-items: center;
}

.button_timer2 .button_timer40 {
    background-color: #d38157;
    text-align: center;
    width: 25%;
    font: 400 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
    padding: 7px;
}

.button_timer2 .button_timer50 {
    background-color: #d38157;
    text-align: center;
    width: 25%;
    font: 400 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}

.button_timer2 .button_timer60 {
    background-color: #d38157;
    text-align: center;
    width: 25%;
    font: 400 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 2%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}


.button_timer3 {
    /*
    Third row buttons 
    */
    background-color: transparent;
    height: 30px;
    width: 100%;
    display: flex;
    margin-left: 13%;
    margin-bottom: 5%;
    align-items: center;
}

.button_timer3 .button_timer120 {
    background-color: #d38157;
    text-align: center;
    width: 25%;
    font: 400 1rem/1rem 'Jost', sans-serif;
    font-size: 85%;
    color:#1d0b38;
    margin-left: 29%;
    padding: 7px;
    cursor: pointer;
    border: #1d0b38;
    border-radius: 12px;
}


    

    
 /*================= * TIMER *=================*/
    * {
        margin: 0;
        padding: 0;
        font-family: 'Arimo', sans-serif;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
   }
    body {
        background: #d7d7d7;
        color: white;
   }
  
    
   
@media (min-width: 250px) {
    /* For Mobile*/
    .timer {
        width: 90%;
        height: 60%;
        display: block;
        position: relative;
        margin-top:-40%;

   }
    .timer * {
        cursor: default;
   }
    .timer h3 {
        width: 100%;
        font-size: 26px;
        letter-spacing: 4px;
        text-align: center;
   }
    .timer--clock {
        width: 100%;
        position: relative;
        padding-left: 10%;
        margin-top: 10%;
        overflow: hidden;
        text-align: center;
   }
    .timer--clock .clock-display-grp {
        width: 100%;
        position: relative;
   }
    .timer--clock .clock-display-grp .number-grp {
        width: auto;
        display: block;
        height: 80px; 
        float: left;
        overflow: hidden;
   }
    .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
        width: auto;
        display: table;
        font-size: 80px;
        line-height: 90px;
        font-weight: bold;
   }
   .timer--clock .clock-separator p {
        width: auto;
        display: table;
        font-size: 70px;
        line-height: 70px;
        font-weight: bold;
    }
    .timer--clock .clock-separator p {
        width: auto;
        display: table;
        font-size: 70px;
        line-height: 80px;
        font-weight: bold;
    }

    .timer--clock .clock-separator {
        width: auto;
        float: left;
        display: block;
        height: 156px;
    }
}

@media (min-width: 550px) {
       /* For PC*/
       .timer {
        width: 90%;
        height: 60%;
        display: block;
        position: relative;
        margin-top:-40%;

   }
    .timer * {
        cursor: default;
   }
    .timer h3 {
        width: 100%;
        font-size: 26px;
        letter-spacing: 4px;
        text-align: center;
   }
    .timer--clock {
        width: 100%;
        position: relative;
        padding-left: 6px;
        margin-top: 22px;
        overflow: hidden;
   }
    .timer--clock .clock-display-grp {
        width: 100%;
        position: relative;
   }
    .timer--clock .clock-display-grp .number-grp {
        width: auto;
        display: block;
        height: 156px;
        float: left;
        overflow: hidden;
   }
   .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
        width: auto;
        display: table;
        font-size: 140px;
        line-height: 150px;
        font-weight: bold;
    }
    .timer--clock .clock-separator p {
        width: auto;
        display: table;
        font-size: 150px;
        line-height: 150px;
        font-weight: bold;
    }

    

    .timer--clock .clock-separator {
        width: auto;
        float: left;
        display: block;
        height: 156px;
    }
}


.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
    width: 100%;
    position: relative;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
    width: 100%;
    position: relative;
    height: 156px;
}
  
.label_timer{
    display:block;
}

.timer h4 {
    width: 100%;
    font-size: 10px;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 25px;
    float: left;
}
.reload {
    width: 125px;
    height: 14px;
    position: absolute;
    bottom: 50vh;
    left: 50%;
    margin-left: -62.5px;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 9999;
}
.reload:hover svg path {
    fill: #666;
}
.reload:hover p {
    color: #666;
}
.reload svg {
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 10px;
}
.reload p {
    color: #2b2b2b;
    font-size: 12px;
    float: left;
    line-height: 11px;
}